* {
	font-family: 'Poppins', sans-serif
}

/* Прижать footer */
html,
body {
	height: 100vh;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	background-color: #f7e3cc;
	
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background-color: white;
	box-shadow: -12px 18px 12px rgb(120 120 120);
}

.main {
	flex: 1 1 auto;
}

/* Контейнер */
.wrapper {
	max-width: 1140px;
	margin: 0 auto;
}

/* Шапка */
.header {
	background-color: #b9a389;
}

.menu {
	display: flex;
	justify-content: space-between;
	padding: 10px 50px;
	margin: 0;
	list-style-type: none;
}

.menu__link {
	padding: 0 20px;
	line-height: 50px;
	font-size: 20px;
	color: white;
	text-decoration: none;
}

.menu__link:hover {
	color: #333131;
	transition: .5s;
}

/* Секция Имя */
.name {
	min-height: 85px;
	padding: 40px 0px;
	background-color: #333131;
}

.name__body {
	text-align: center;
	text-transform: uppercase;
	color:white;
}
.name__title {
	font-size: 40px;
	font-weight: 700;
}
.name__subtitle {
	font-size: 20px;
}

/* Заголовок на блок с информацией */
.title {
	border-radius: 20px;
	padding-left: 20px;
	margin-bottom: 20px;
	width: 200px;
	font-size: 20px;
	color: white;
	background-color: #333131;
	text-transform: uppercase;
	letter-spacing: 5px;
}

/* Содержимое блока с информацией */
.text {
	font-size: 18px;
}

/* Блок с информацией */
.profile {
	padding: 20px;
	background-color: #b9a389;
}
.profile__row {
	display: flex;
}

.profile__img {
	padding: 20px 60px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.profile__body {
	padding: 50px;
}
.profile__title {
}

.profile__text {
}

/* Стили для двух колонок */
.main__wrap {
	display: flex;
}

.aside {
	width: 40%;
	padding: 60px 0;
	background-color: #eeece8;
}

.main__info {
	width: 60%;
	padding: 60px 0;
}

/* Блок с информацией */
.contact,
.skills,
.english,
.education,
.experience,
.code {
	padding: 0 50px;
	margin-bottom: 60px;
}

.contact__title {
	margin-bottom: 15px;
}

.contact__list {
	margin-bottom: 5px;
	font-size: 18px;
	list-style-type: none;
}
.contact__item>a {
	color: black;
	text-decoration: none;
	list-style-type: none;
}

.contact__item>a:hover {
	color: #b9a389;
	transition: .3s;
}

.skills__subtitle {
	font-size: 18px;
	font-weight: 700;
}

.skills__list>li {
	margin-left: 10px;
	margin-bottom: 5px;
	list-style-type: none;
	font-size: 18px;
}

.english__level {
	padding-left: 105px;
	font-size: 50px;
	font-weight: 700;
}

section:last-child {
	margin-bottom: 0px;
}

.education__list {
	font-size: 18px;
	list-style-type: none;	
}

.experience__subtitle {
	margin-bottom: 0px;
	font-size: 18px;
	font-weight: 700;
}

.experience__list {
	font-size: 18px;
	color: black;
	list-style-type: none;
}

.experience__link {
	color: #b9a389;
	text-decoration: none;
}

.experience__link:hover {
	color: black;
	transition: .3s;
}

.code__text {
	font-size: 16px;
	line-height: 18px;
}

/* Подвал */
.footer {
	background-color: #333131;
}

.footer__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 85px;
}

.footer__link_githab>a {
	font-size: 20px;
	color: white;
	text-decoration: none;
}

.footer__text {
	font-size: 20px;
	color: white;
}

.footer__link_githab>a>span {
margin-right: 6px;
}

.footer_logo {
	width: 100px;
	height: 45px;
}